# Dependencies
/node_modules

# Logs
npm-debug.log

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env

# Build Files
apps/**/dist
apps/managerio-ui-rn/.expo
libs/**/dist

README.md